.bgLogin {
    height: 100vh;
    background: url("../../assets/img/image.png") no-repeat left center / cover;
}

.myVideo{
    position: fixed;
    inset: 0;
    z-index: 1;
}

.loginSideBar {
    background: #538EC2DD;
    max-width: 500px;
    min-height: 100vh;
    margin-left: auto;

    position: fixed;
    z-index: 10;
    right: 0;
    top: 0;
    bottom: 0;
}

.loginSideBar > *:first-child{
    display: flex;
    flex-direction: column;
    min-height: inherit;
}

.loginSideBar h2 {
    text-align: center;
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    margin-block: 2rem;
}

.logoImg figure {
    margin: 0;
}

.logoImg img {
    width: 48px;
}

.logoText h3 {
    margin: 0;
    line-height: 100%;
    font-weight: 600;
    color: #fff;
}

.buttonGroup {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox {
    color: #fff;
    margin-bottom: 1rem;
}

.loginForm {
    margin-block: auto;
    translate: 0 -50%;
}
