.label {
    font-size: 18px;
    margin: 5px 0;
    color: #fff;
}

.label + .input{
    margin-top: .5rem;
}

.input {
    width: 100%;
    padding: .5rem;
    margin-bottom: 1rem;
    outline: none;
    border: none;
    background-color: #fff;
    border-radius: 2px;
}
